@include medium() {
  main {
    margin: 2.5% 12.5%;
  }

  .subPiece {
    width: 48%;
  }

  .additionalPiece {
    width: 30%;
  }
}

@include large() {
  main {
    margin: 1% 15%;
  }

  .subPiece {
    width: 45%;
  }

  .additionalPiece {
    width: 28%;
  }

  .newsPiece {
    padding: 0 12.5% 0 12.5%;
  }
}
